header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
}

button {
    font-family: Unbounded;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    width: 181px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #45A0934D;
    border-radius: 54px;
    outline: none;
    border: none;
    box-shadow: none;
}